.nav-item a {
    color: #fff !important;
    font-size: 1.071rem !important;
    font-weight: 400;
}

    .nav-item a:hover {
        color: #fff !important;
    }

.dropdown-menu a {
    font-size: 0.9286rem !important;
    color: #555 !important;
}

    .dropdown-menu a:hover {
        color: #000 !important;
    }

.toplink {
    margin-left: 30px
}

    .toplink ul li {
        float: left;
        width: 50%
    }

        .toplink ul li a {
            margin-right: 20px;
            color: #fff;
            font-weight: 600;
        }

            .toplink ul li a.link01 {
                background: url(/images/toplink01.png) no-repeat 0px 0px;
                padding-left: 27px;
                padding-bottom: 5px
            }

            .toplink ul li a.link02 {
                background: url(/images/toplink02.png) no-repeat 0px 0px;
                padding-left: 27px;
                padding-bottom: 5px
            }


#mainestimate {
    background: #759fbe;
    width: 360px;
    display: inline-block;
}

    #mainestimate .title {
        width: 100%;
        background: #000000;
        padding: 13px;
        text-align: center;
        color: #fff;
        font-size: 1.4rem;
        font-weight: 600;
    }

    #mainestimate .testimate table {
        width: 90%;
        border: 0px solid #cfbfaf;
        border-spacing: 0;
        margin-top: 30px;
    }

        #mainestimate .testimate table th {
            padding: 2px 5px 2px 25px;
            font-size: 13px;
            color: #fff;
        }

        #mainestimate .testimate table td {
            padding: 2px
        }

            #mainestimate .testimate table td input[type='text'] {
                padding: 0;
                margin: 0;
                display: inline-block;
                width: 100%;
                color: #000;
                font-size: 13px;
                font-weight: 400;
                background-color: #fff;
                border: 0px solid #0975a3;
                line-height: 30px;
                height: 30px;
            }

            #mainestimate .testimate table td input[type='radio'] {
                margin-right: 5px;
                line-height: 30px;
            }

            #mainestimate .testimate table td.selecttxt {
                font-size: 0.8571rem;
            }

            #mainestimate .testimate table td select {
                padding: 0;
                margin: 0;
                display: inline-block;
                width: 100%;
                color: #000;
                font-size: 13px;
                font-weight: 400;
                background-color: #fff;
                border: 0px solid #0975a3;
                line-height: 30px;
                height: 30px;
            }

    #mainestimate .bottom {
        width: 100%;
        background: #000000;
        padding: 5px 11px;
        text-align: right;
        color: #fff;
        font-size: 0.8125rem;
        font-weight: 300;
    }

    #mainestimate .dongbox {
        text-align: right;
        width: 90%;
        color: #fff;
        font-size: 0.8125rem;
    }

    #mainestimate .close2 {
        font-size: 0.8125rem;
        font-weight: 400;
        color: #fff;
        margin-left: 10px;
    }




.carousel {
    margin-bottom: 4rem;
}

.carousel-caption {
    bottom: 4rem;
    z-index: 10;
}

    .carousel-caption h1 {
        color: #fff;
        font-size: 2rem;
        font-weight: 600;
        line-height: 40px;
        letter-spacing: -0.05em;
    }

    .carousel-caption p {
        font-weight: 300;
        letter-spacing: -0.05em;
    }

.carousel-item {
    height: 32rem;
}

    .carousel-item > img {
        position: absolute;
        top: 0;
        left: 0;
        min-width: 100%;
        height: 32rem;
    }

.visualsub {
    position: relative;
    display: block;
    background: #009fe3;
    width: 100%;
    margin-top: 70px
}

    .visualsub .subvisualimg {
        position: relative;
        display: inline-block;
        width: 100%;
        height: 150px;
        overflow: hidden;
        background: #009fe3;
    }

        .visualsub .subvisualimg .subtxt {
            width: 1100px;
            display: inline-block;
            padding-top: 40px;
            margin: 0 auto;
        }

            .visualsub .subvisualimg .subtxt p {
                width: 300px;
                padding-left: 100px;
            }

            .visualsub .subvisualimg .subtxt span {
                position: absolute;
                top: 50px;
                margin-left: 450px;
                width: 750px;
                color: #fff;
                font-weight: 300;
                letter-spacing: -0.05em;
                font-size: 1rem;
            }

                .visualsub .subvisualimg .subtxt span h2 {
                    color: #fff;
                    font-weight: 600;
                    letter-spacing: -0.05em;
                    font-size: 1.6rem;
                }

.subcontainer {
    margin-top: 20px
}

.subcontainer2 {
    margin-top: 70px
}




.bg-light-gray {
    background: linear-gradient(87deg, #f3f4f6 0, #e4e5e9 100%) !important;
    padding: 50px 0 60px 0
}


.movetalk img {
    width: 100%
}

.servicebg {
    padding-top: 60px;
    height: 296px;
    background: #e2ded3 !important;
    text-align: center;
    border-left: 1px #ccc solid;
}

    .servicebg .serviceiconmore {
        cursor: pointer;
        font-size: 0px;
        display: inline-block;
        width: 40px;
        height: 40px;
        margin: 0 !important;
        border-radius: 50%;
        text-align: center;
        background: #fff url(/images/common/servicemore.png) no-repeat 50% 50%;
    }

    .servicebg p {
        font-weight: 600;
        padding-top: 15px
    }

    .servicebg a, .servicebg a:hover {
        color: #323232;
    }

.mtxt {
    text-align: center;
    margin-bottom: 15px
}

    .mtxt .tit01 {
        font-size: 2.375rem;
        font-weight: 600;
        line-height: 1.5;
        letter-spacing: -0.05em;
        color: #022fbf
    }

    .mtxt .tit02 {
        font-size: 2rem;
        font-weight: 600;
        line-height: 1.5;
        letter-spacing: -0.05em;
    }

    .mtxt .tit03 {
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: -0.02em;
    }


.etcservice {
    font-size: 1rem;
    font-weight: 400;
}

    .etcservice .card-body {
        padding: 1rem !important;
    }


.contantrollbanner {
    overflow: hidden;
    position: relative;
}

    .contantrollbanner img {
        width: 100%;
        height: auto
    }


.agreement {
    font-weight: 300;
    font-size: 0.9286rem;
}



.bu_al_black {
    position: relative;
    border: 1px solid #000;
    background-color: #000;
    color: #fff;
    font-size: 14px;
    display: inline-block;
    padding: 0px 0;
    text-align: center;
    transition: all 0.4s ease;
}

    .bu_al_black:before {
        border: 0px;
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        top: -1px;
        left: 0;
    }

    .bu_al_black:after {
        bottom: -1px;
        right: 0px;
        content: '';
        position: absolute;
        width: 0;
        height: 0;
    }

    .bu_al_black:hover {
        background-color: #fff;
        color: #000;
        border: 1px solid #ccc;
    }

        .bu_al_black:hover:before {
            border-top: 1px solid;
            border-right: 1px solid;
            border-color: #000;
            transition: border-color 0s, width 0.1s, height 0.2s;
            transition-delay: 0s, 0.2s, 0.3s;
            width: 100%;
            height: 100%;
        }

        .bu_al_black:hover:after {
            border-bottom: 1px solid;
            border-left: 1px solid;
            transition: border-color 0s, width 0.3s, height 0.4s;
            transition-delay: 0s, 0.4s, .6s;
            width: 100%;
            height: 100%;
            border-color: #000;
        }



.companyinfo {
    margin-bottom: 30px
}

.companyinfo {
    border: 1px solid #dadada;
}

    .companyinfo li h6 {
        line-height: 1.0 !important;
    }

    .companyinfo li {
        font-size: 90%;
        line-height: 1.5;
    }

        .companyinfo li img {
            width: 100%;
            height: 80px;
            padding-bottom: 10px
        }

        .companyinfo li p {
            padding-left: 10px
        }


.company {
    color: #000 !important;
}

    .company h3.tit01 {
        font-size: 1.4rem;
        font-weight: 700;
        letter-spacing: -0.03em;
    }

.companyimg {
    text-align: center;
}


.gallerypg {
    margin-bottom: 30px
}

    .gallerypg li {
        padding: 0;
        margin: 0;
        font-weight: 400;
    }

        .gallerypg li img {
            width: 100%;
            height: 200px
        }

        .gallerypg li.small {
            color: #666;
            font-weight: 300;
        }

h4.title {
    font-size: 1.438rem;
    color: #000000;
    font-weight: 600;
    line-height: 1.5;
    padding-bottom: 15px;
    border-bottom: 1px solid #cccccc;
}

    h4.title span {
        position: absolute;
        left: 120px;
        background: url(/images/common/more.png) no-repeat 0px 0px;
        font-size: 0;
        padding: 18px;
    }

.reviewlist {
    position: relative;
    display: inline-block;
    width: 100%
}

.list_W li {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 2.2;
}

    .list_W li:before {
        content: "·";
        line-height: 2;
    }

    .list_W li a {
        padding-left: 5px;
    }


.servicelist table.listtable {
    width: 100%;
}

    .servicelist table.listtable td {
        padding: 4px;
        0
    }









/*빠른오더*/


#floatdiv {
    position: fixed;
    display: inline-block;
    right: 0px; /* 창에서 오른쪽 길이 */
    top: 120px; /* 창에서 위에서 부터의 높이 */
    background-color: transparent;
    margin: 0;
    z-index: 999;
}

    #floatdiv .serviceform {
        width: 150px
    }

        #floatdiv .serviceform ul li {
            padding: 10px;
            text-align: center;
            color: #fff;
            font-weight: 400;
            font-size: 0.8571rem;
        }

            #floatdiv .serviceform ul li img {
                width: 35%
            }

            #floatdiv .serviceform ul li.form01 {
                background: #4626d6;
            }

            #floatdiv .serviceform ul li.form02 {
                background: #2d4fff;
            }

            #floatdiv .serviceform ul li.form03 {
                background: #2d78ff;
                line-height: 1.5;
            }

            #floatdiv .serviceform ul li.form04 {
                background: #16b8fb;
            }

    #floatdiv .rightestimate {
        position: relative;
        display: inline-block;
        margin-top: 10px;
        width: 130px;
        float: right;
    }

        #floatdiv .rightestimate ul li {
            padding: 3px;
            text-align: center;
            color: #fff;
            font-weight: 400;
            font-size: 0.9286rem;
        }

            #floatdiv .rightestimate ul li.form01 {
                background: #fff313;
            }

            #floatdiv .rightestimate ul li.form02 {
                background: #0094e1;
            }

                #floatdiv .rightestimate ul li.form02 .tel {
                    font-size: 1.5rem;
                    font-weight: 700;
                    letter-spacing: -0.03em;
                }

            #floatdiv .rightestimate ul li.form03 {
                background: #00c73c;
            }




.con_pagetit {
    position: relative;
    display: inline-block;
    height: 45px;
    margin: 20px 0 40px 0;
    padding: 20px;
    width: 100%
}

    .con_pagetit h1 {
        color: #404040;
        font-size: 28px;
        font-weight: 600;
        letter-spacing: -0.07em;
    }

        .con_pagetit h1.op1 {
            border-bottom: 1px solid #d8d8d8;
            padding: 0 0 10px 0;
        }

    .con_pagetit .con_breadcrumb {
        position: absolute;
        right: 20px;
        top: 35px;
    }

        .con_pagetit .con_breadcrumb ul li {
            float: left;
            color: #818181;
            font-size: 0.8125rem;
            font-weight: normal;
            text-align: center;
            letter-spacing: -0.03em;
            margin: 0 7px 0 0;
        }

            .con_pagetit .con_breadcrumb ul li:first-child {
                padding: 0 0 0 11px;
                margin: 0 7px 0 0;
                background: url("./images/ic_03.jpg") no-repeat 0 2px;
            }

            .con_pagetit .con_breadcrumb ul li:after {
                content: ">";
                color: #999999;
                font-size: 0.8125rem;
                font-weight: normal;
                text-align: center;
                padding: 0 0 0 7px;
            }

            .con_pagetit .con_breadcrumb ul li:last-child:after {
                content: none;
                padding: 0 0 0 0;
            }





footer {
    margin-top: 50px;
    background-color: #e7e7e7;
}

.footerlink {
    background-color: #fff;
    border-top: 1px solid #cdcdcd;
    padding: 0.6rem 0;
    letter-spacing: -0.02em;
}

    .footerlink .tel {
        font-size: 1.714rem;
        color: #056eda;
        font-weight: 700;
        line-height: 40px;
    }

.foottelicon {
    background: url(/images/common/foot-tel.png) no-repeat left 8px;
    padding-left: 30px;
    vertical-align: middle;
}

.foottimeicon {
    background: url(/images/common/foot-time.png) no-repeat 0 10px;
    padding-left: 30px;
    vertical-align: middle;
    padding-top: 10px
}


.con_footer .copyright p {
    margin-bottom: .1rem;
}

.con_footer {
    padding: 1.6rem 0;
}

    .con_footer .link {
        padding-bottom: 1rem;
    }

        .con_footer .link a {
            margin-right: 40px;
            font-weight: 400;
            letter-spacing: -0.02em;
            font-size: 0.9286rem;
        }

    .con_footer .copyright {
        color: #6e6e6e;
        font-size: 0.75rem;
        font-weight: 200;
        margin: 0px;
        line-height: 1.7;
        padding-bottom: 50px
    }

        .con_footer .copyright .loginspan {
            padding: 10px 0
        }

            .con_footer .copyright .loginspan a {
                background: #708a98;
                padding: 2px 12px;
                color: #fff;
                font-weight: 400;
                font-size: 0.75rem;
                border-radius: 5rem;
            }





footer .btnup {
    padding-top: 20px
}

    footer .btnup a {
        font-size: 2rem;
        color: #b5b4b5
    }







.service-grid {
    border: 1px solid #ddd;
    overflow: hidden;
    position: relative;
    text-align: center;
    background: #f0f0f0
}

    .service-grid .service-image {
        position: relative;
    }

        .service-grid .service-image img {
            width: 100%;
            height: auto
        }

    .service-grid .service-content {
        margin: 10px 0;
        font-size: 0.9286rem;
    }

        .service-grid .service-content .title {
            font-weight: 600;
            font-size: 1.15rem;
            color: #000000;
        }

        .service-grid .service-content .txt {
            font-weight: 400;
            font-size: 0.8571rem;
        }







/*자주묻는질문*/
#accordion {
    border-top: 2px solid #cacaca;
    margin: 50px 0;
    width: 100%;
}

    #accordion .accordion {
        background: #fff;
        cursor: pointer;
        padding: 20px 25px 10px 25px;
        width: 100%;
        text-align: left;
        outline: none;
        transition: 0.4s;
        border: 0;
        font-weight: 400;
        color: #000
    }

        #accordion .accordion .Q {
            font-weight: 600;
            color: #fff;
            border-radius: 30rem;
            background: #70c3c7;
            padding: 1px 7px;
            margin-right: 5px
        }

    #accordion .active, .accordion:hover {
        background: #f2f2f2;
        color: #000
    }

    #accordion .accordion:after {
        content: '\002B';
        color: #777;
        font-weight: 400;
        float: right;
        margin-left: 5px;
    }

    #accordion .active:after {
        content: "\2212";
    }

    #accordion .panel {
        padding: 8px 18px;
        background: #fff;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
        border-bottom: 1px solid #d8d8d8;
        font-size: 90%;
        color: #666
    }

        #accordion .panel p {
            margin: 30px
        }

    #accordion .txt {
        font-size: 14px;
        margin: 20px 0
    }


/*게시판*/

.con_search {
    border: 2px solid #d5d5d5;
    padding: 1rem;
    background: #fdfbfc;
    margin-bottom: 20px
}

    .con_search ul {
        display: table;
        margin: 0 auto
    }

        .con_search ul li {
            float: left;
            margin: 0 5px 3px 0;
        }

            .con_search ul li select {
                letter-spacing: -0.02em;
            }

            .con_search ul li input[type="text"] {
                letter-spacing: -0.02em;
            }







/* board list */

.table th {
    border-top: 2px solid #cacaca;
}

.table td {
    border-bottom: 1px solid #dee2e6;
}


.table-hover th, .table-hover td {
    text-align: center;
    font-size: 90%;
}

    .table-hover td.lft {
        text-align: left;
    }

.table-hover tbody tr:hover {
    background-color: rgba(0, 0, 0, 0.03);
}

.table-hover tbody tr.notice {
    background-color: rgba(0, 0, 0, 0.03);
}

span.notice {
    color: #f86f00;
    font-weight: 600;
}

.table-bordered td {
    padding: 0.3rem !important;
}

.table-hover th {
    font-weight: 400;
}

.table-hover td h5 {
    font-size: 1rem;
    color: #000
}

.table-hover td {
    font-size: 90%;
    font-weight: 300;
}

    .table-hover td a {
        color: #333;
        font-weight: 300;
    }

/* paging */
ul.paging {
    display: block;
    margin: 1.5rem auto 0 auto;
    padding: 0;
    overflow: hidden;
    text-align: center;
}

    ul.paging li {
        display: inline-block;
        *zoom: 1;
        *display: inline;
        margin: 0 2px;
        padding: 0;
        letter-spacing: -1px;
        vertical-align: middle;
    }


        ul.paging li a {
            display: inline-block;
            *zoom: 1;
            *display: inline;
            color: #777;
            width: 30px;
            height: 30px;
            line-height: 30px;
            text-align: center;
            margin: 0;
            vertical-align: bottom;
            text-decoration: none;
            font-size: 1rem;
        }

            ul.paging li a:hover,
            ul.paging li a:focus {
                color: #2e2e2e;
            }

        ul.paging li.ppv a,
        ul.paging li.ffw a,
        ul.paging li.go-prev a,
        ul.paging li.go-next a {
            width: 30px;
            height: 33px;
            line-height: 33px;
            text-indent: -9999px;
            padding: 0;
            position: relative;
            box-sizing: border-box;
            border: 1px solid #aaa;
            background: #fff;
        }

            ul.paging li.go-prev a:hover, ul.paging li.go-prev a:focus,
            ul.paging li.go-next a:hover, ul.paging li.go-next a:focus,
            ul.paging li.ppv a:hover, ul.paging li.ppv a:focus,
            ul.paging li.ffw a:hover, ul.paging li.ffw a:focus {
                border: 1px solid #2e2e2e;
                z-index: 1;
            }


        ul.paging li.go-prev {
            margin-right: 13px;
        }

        ul.paging li.go-next {
            margin-left: 13px;
        }

        ul.paging li.ppv {
            position: relative;
            right: -8px;
        }

        ul.paging li.ffw {
            position: relative;
            left: -8px;
        }

            ul.paging li.ppv a:before,
            ul.paging li.ffw a:before,
            ul.paging li.ppv a:after,
            ul.paging li.ffw a:after,
            ul.paging li.go-prev a:before,
            ul.paging li.go-next a:before {
                content: "";
                position: absolute;
                display: block;
                width: 10px;
                height: 10px;
                position: absolute;
                border-top: 1px solid #9e9e9e;
                border-left: 1px solid #9e9e9e;
                top: 10px;
            }

        ul.paging li.go-prev a:before,
        ul.paging li.ppv a:before,
        ul.paging li.ppv a:after {
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
        }

        ul.paging li.go-next a:before,
        ul.paging li.ffw a:before,
        ul.paging li.ffw a:after {
            -webkit-transform: rotate(135deg);
            -moz-transform: rotate(135deg);
            -ms-transform: rotate(135deg);
            transform: rotate(135deg);
        }

        ul.paging li.go-prev a:before {
            left: 13px;
        }

        ul.paging li.go-next a:before {
            right: 13px;
        }

        ul.paging li.ppv a:before {
            left: 10px;
        }

        ul.paging li.ppv a:after {
            left: 15px;
        }

        ul.paging li.ffw a:before {
            right: 10px;
        }

        ul.paging li.ffw a:after {
            right: 15px;
        }


        ul.paging li.active a,
        ul.paging li.active a:hover,
        ul.paging li.active a:focus {
            color: #189ec0;
            font-weight: 400;
        }


.mepaging {
    display: none;
}
/* board view */
.board_view .board_view_header {
    position: relative;
    display: block;
    background: #f9f9f9;
    border-top: 2px #96878e solid;
    border-bottom: 1px solid #757c86;
    padding: 1rem 0
}

    .board_view .board_view_header h2 {
        padding: 0 0 0 1rem;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        word-break: keep-all;
        word-wrap: break-word;
        font-size: 1rem
    }

    .board_view .board_view_header .board_viewInfo {
        padding-left: 5px;
        font-size: 80%;
        font-weight: 300;
    }

        .board_view .board_view_header .board_viewInfo span {
            padding: 0 0px 0px 10px;
            color: #666;
        }

.board_view .board_viewfile {
    background: #fff url(/images/common/ic_file_01.jpg) no-repeat 18px 15px;
    line-height: 23px;
    border-bottom: 1px dashed #ddd;
    padding: 10px 20px 10px 40px;
    margin: 0;
}

    .board_view .board_viewfile span {
        padding: 0 10px 0 0px;
        color: #222;
    }

        .board_view .board_viewfile span.format {
            padding: 0 10px 0 10px;
            color: #0269ca;
        }

.board_view .board_view_header .date24 {
    position: absolute;
    right: 10px;
    font-size: 1rem;
    font-weight: 300;
    color: #545454
}

.board_view .board_viewstar {
    line-height: 23px;
    border-bottom: 1px dashed #ddd;
    padding: 10px 20px 10px 15px;
    margin: 0;
}

.board_viewstar img {
    padding: 0 2px
}

.board_view .board_view_content {
    margin-bottom: 10px;
    padding: 1rem 0;
    border-bottom: 1px solid #ddd;
}

    .board_view .board_view_content .board_viewDetail {
        padding: 1rem 10px;
        word-break: keep-all;
        word-wrap: break-word;
        border-bottom: none;
        font-size: 90%;
    }

.board_view .board_view_comment {
    display: inline-block;
    margin: 1rem 0 0 0;
    padding: 0.5rem 0;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    width: 100%
}

    .board_view .board_view_comment .board_viewcomment {
        position: relative;
        display: inline-block;
        border-bottom: 1px solid #dddddd;
        width: 100%
    }

        .board_view .board_view_comment .board_viewcomment li.first {
            border-top: 0px dashed #ddd;
        }

        .board_view .board_view_comment .board_viewcomment li {
            float: left;
            display: block;
            padding: 5px 0;
            border-top: 1px dashed #ddd;
        }

            .board_view .board_view_comment .board_viewcomment li.name {
                width: 16%;
                text-align: center;
            }

            .board_view .board_view_comment .board_viewcomment li.text {
                width: 84%;
            }

            .board_view .board_view_comment .board_viewcomment li.name input {
                width: 80%
            }

            .board_view .board_view_comment .board_viewcomment li label {
                display: inline-block;
                float: right;
                padding-top: 0px;
                padding-left: 5px
            }

            .board_view .board_view_comment .board_viewcomment li span.commentdate {
                font-size: 0.8571rem;
                color: #999;
            }

    .board_view .board_view_comment .board_viewcomment_input {
        position: relative;
        display: inline-block;
        width: 100%
    }

        .board_view .board_view_comment .board_viewcomment_input li textarea {
            float: left;
            border: 1px solid #e2e2e2;
            width: calc(100% - 80px);
            min-height: 30px
        }

        .board_view .board_view_comment .board_viewcomment_input li label {
            display: inline-block;
            float: right;
            padding-top: 0px;
            padding-left: 5px
        }


.next_prev_box {
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    margin-top: 30px
}

    .next_prev_box dl dt {
        display: inline-block;
        width: 15%;
        text-align: center;
    }

        .next_prev_box dl dt em {
            background: url(/images/common/dot_bg.png) no-repeat 100% 50%;
            padding-right: 25px;
        }

    .next_prev_box dl dd {
        display: inline-block;
        width: 80%;
    }




/*board write*/
.board_write_form {
    display: table;
    width: 100%;
    border-top: 2px solid #96878e;
}

    .board_write_form dl {
        display: table-row;
    }

    .board_write_form dt {
        display: table-cell;
        width: 20%;
        padding: 10px 0 10px 15px;
        border-bottom: 1px solid #ddd;
        color: #333;
        font-weight: 400;
        clear: both;
        vertical-align: middle;
    }

        .board_write_form dt span {
            color: #ff5d5d;
            margin-right: 5px;
        }

    .board_write_form dd {
        display: table-cell;
        position: relative;
        width: 80%;
        padding: 0.5rem 0 0 0;
        border-bottom: 1px solid #ddd;
    }

        .board_write_form dd input {
            width: 150px;
        }

        .board_write_form dd select {
        }

        .board_write_form dd input.es {
            background: url('../images/common/wrest.gif') no-repeat right top;
        }

        .board_write_form dd input[type=checkbox] {
            cursor: pointer;
            width: 15px;
            height: 15px;
            vertical-align: middle;
            border: 1px solid #fff;
        }

        .board_write_form dd textarea {
            border: 1px solid #ccc;
            width: 100%;
            margin-bottom: 0.5rem;
        }

.boardaR {
    margin: 30px 0;
    text-align: right;
}

.boardaC {
    margin: 30px 0;
    text-align: center;
}

.membership_form .membertxt {
    position: relative;
    border: 1px solid #ddd;
    width: 100%;
    height: 210px;
    font-size: 0.875rem;
    overflow-y: auto;
    padding: 20px
}

.bbs_ico {
    display: inline-block;
    background: url('../images/common/bbs_icon.png') no-repeat;
    margin-left: 5px;
    vertical-align: middle;
    font-size: 0;
    line-height: 0;
}

    .bbs_ico.new {
        width: 26px;
        height: 11px;
        background-position: 0 0
    }


.serviceinfo01 {
    border: 1px solid #ddd;
    text-align: center;
    padding: 25px 0;
    letter-spacing: -0.05em;
}

    .serviceinfo01 h3 {
        font-weight: 900;
        line-height: 1.2;
    }

        .serviceinfo01 h3.tit01 {
            color: #00bcb5
        }

        .serviceinfo01 h3.tit02 {
            color: #e86d00
        }

        .serviceinfo01 h3.tit03 {
            color: #5064cc
        }

    .serviceinfo01 p {
        font-weight: 400;
    }

.servicestep {
    letter-spacing: -0.05em;
}

    .servicestep h4 {
        font-weight: 900;
        line-height: 1.2;
    }

        .servicestep h4 span {
            color: #dd0000
        }

    .servicestep p {
        margin: 10px auto;
        text-align: center;
    }

        .servicestep p img {
            width: 100%
        }

.katalktxt {
    margin: 20px 20px 0 20px
}

    .katalktxt li {
        font-weight: 400;
        padding: 4px 0
    }

.katalkimg img {
    width: 100%
}

h4.tit_sub00 {
    font-size: 1.714rem;
    padding-left: 0;
    color: #000;
    font-weight: 600;
    margin: 1em 0;
    line-height: 1.733em;
    letter-spacing: -0.05em;
}


h4.tit_sub1 {
    padding-left: 0;
    color: #000;
    font-weight: bold;
    margin: 1em 0;
    line-height: 1.733em;
    font-size: 1.429rem;
}

h5.tit_sub {
    font-size: 1.15rem;
    padding-left: 0;
    color: #0089c3;
    font-weight: 600;
    line-height: 1.733em;
}

    h5.tit_sub span {
        font-size: 0.9286rem;
        color: #000;
        font-weight: 300;
    }

h5.tit_sub2 {
    font-size: 1.25rem;
    padding-left: 0;
    color: #f2680c;
    font-weight: 600;
    margin: 2em 0;
    line-height: .5em;
    text-decoration: underline;
}

.moveservice .card-text {
    font-weight: 400;
    font-size: 0.9286rem;
    color: #444;
    text-align: center;
}

.etcservi .card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #f9f7f3;
    background-clip: border-box;
    border: 3px solid #f6deaa;
    border-radius: 0.25rem;
    text-align: center;
    padding: 0 0 20px 0
}

.etcser05 {
    text-align: left;
    padding-left: 20px;
    padding-bottom: 20px;
}

    .etcser05 h5.tit_sub2 {
        margin: 2em 0 1em 0;
        color: #20b0a1;
    }

.banner img {
    width: 100%
}

.talkbg {
    background: #ffefc0
}

/*modal*/
/* \\\\\\\\\\\\\\\\\    MODAL CODE   ///////////////////////////////// */
.overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: none;
}


.modalbox {
    width: 100%
}

    .modalbox .svsselect {
        background: #eeeeee;
        text-align: center;
        margin: 15px 0px;
        padding: 20px;
        line-height: 1.2rem;
    }

        .modalbox .svsselect .txts {
            font-size: 0.875rem
        }

    .modalbox .list {
        width: 100%
    }

        .modalbox .list li {
            float: left;
            padding: 10px 10px;
            border: 1px solid #ddd;
            text-align: center;
            width: 8.333333%;
            font-size: 0.875rem
        }

    .modalbox .list2 li {
        float: left;
        padding: 10px 10px;
        border: 1px solid #ddd;
        text-align: center;
        width: 100%;
        font-size: 0.875rem;
    }

.mbox {
    border-bottom: 1px solid #ddd;
    text-align: center;
    padding: 0px 0 20px 0;
    margin-bottom: 20px
}

    .mbox h3 {
        font-weight: 600;
    }

    .mbox .leftright {
        position: absolute;
        z-index: 99;
        top: 40px;
    }

        .mbox .leftright a {
            color: #ff6c00;
            font-weight: 400;
            font-size: 2.0rem;
            vertical-align: middle;
        }



.modalbox .list li.on {
    background: #518df9;
    color: #fff;
    font-weight: 600;
}

.member_form .membertxt {
    position: relative;
    border: 1px solid #ddd;
    width: 100%;
    font-size: 0.875rem
}

.box_detail {
    font-size: 0.875rem;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding-top: 20px
}

    .box_detail .mtel .col-md-4 {
        width: 33.333333%;
    }

        .box_detail .mtel .col-md-4 .form-control {
            margin: 0
        }

h6.year {
    text-align: center;
}

.modalbox .table-bordered th {
    font-size: 0.75rem !important;
    padding: 0.2rem !important;
}

.modalbox .table-bordered td {
    padding: 0.1rem !important;
    font-size: 0.75rem !important;
}

.table-bordered .today {
    border-radius: 35rem;
    background-color: #73bf58;
    color: #fff;
    padding: 1px 8px
}

.table-bordered .goodday {
    border: 2px solid #ff6c00;
    border-radius: 35rem;
    padding: 1px 8px
}

table.admin th {
    border-top: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
    background-color: #f9f9f9;
    font-weight: 400;
}

table.admin th, table.admin td {
    font-size: 0.875rem !important;
}

    table.admin td .form-controladmin {
        font-size: 0.875rem !important;
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }

table.admin2 td {
    font-size: 0.875rem !important;
    padding: 1rem !important;
}



.fblue2 {
    color: #6c6c6c;
}

.adminbox {
    margin: 0;
    width: 100%;
    padding: 0.375rem 0.75rem;
    line-height: 1.5;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.formno {
    border: 0px solid #dee2e6 !important;
    font-size: 0.875rem !important;
    line-height: 1.2rem;
    font-weight: 300;
}
/* \\\\\\\\\\\\\\\\\    END MODAL CODE   ///////////////////////////////// */

.privacy2 {
    font-size: 95%
}

.memo {
    background: url('../images/common/memo.png') no-repeat center 0px;
    font-size: 0;
    padding: 10px;
}

.applyview li {
    padding: 2px;
    font-size: 0.875rem
}

    .applyview li p {
        float: left;
        padding-right: 20px;
        font-weight: 400;
    }

.wid100 {
    width: 100%;
}


/* 무료견적신청 A태그 색깔변경 */
A.est:link {
    color: #222;
    text-decoration: none
}

A.est:visited {
    color: #222;
    text-decoration: none
}

A.est:active {
    color: #222;
    text-decoration: none
}

A.est:hover {
    background: #518df9;
    color: #fff;
    text-decoration: none
}

ul li:hover.estl {
    background: #518df9;
    color: #fff;
}

ul li.estl {
    background: #fff;
    color: #222;
}

.bgGray {
    background: #f5f5f5;
}

.fonttitle {
    font-size: 1.143rem;
    font-weight: 600;
    color: #04397b;
}

.title24 {
    font-size: 1.857rem;
    font-weight: 900;
    letter-spacing: -0.06em;
}



.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

/* 1199.98px 이상일때 */
@media all and (min-width:1199.98px) {


    .pc {
        display: block !important;
    }

    .mobile {
        display: none;
    }

    .talkBtn {
        display: none;
    }
}



/* 767.98px 이상일때 */
@media all and (min-width:767.98px) {

    #mofloatdiv {
        display: none;
    }

    .fixedBtn {
        display: none;
    }
}


@media (max-width: 1199.98px) {
    .pc {
        display: none;
    }

    .visualsub .subvisualimg {
        display: none;
    }

    .talkBtn {
        position: relative;
        display: block !important;
        margin: 30px 0
    }

        .talkBtn img {
            width: 100%
        }



    .toplink {
        margin: 20px 0 0 0;
        background: #2f343a;
        position: relative;
        display: inline-block;
        width: 100%;
    }

        .toplink ul li {
            float: left;
            width: 100%;
            background: #2f343a;
            text-align: center;
            border-top: 1px solid #363c43;
            border-bottom: 1px solid #363c43;
            padding: 20px;
        }

            .toplink ul li:first-child {
                border-bottom: 0px solid #363c43;
            }

            .toplink ul li a {
                margin-right: 20px;
                color: #fff;
                font-weight: 600;
            }



    .reviewlist {
        margin-top: 50px
    }

    .servicebg {
        padding-top: 30px;
        height: 236px;
    }



    /*modal*/

    .modalbox .list li {
        width: 33.33333%;
    }





    .footerlink .col-md-3 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    .footerlink .col-md-6 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    h5.tit_sub {
        margin-top: 1rem
    }

    .box_detail_sub .col-md-6 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }


    .movetalk {
        margin-bottom: 30px;
    }
}




@media (max-width: 767.98px) {


    .carousel-item {
        height: 25rem;
    }

        .carousel-item > img {
            position: absolute;
            top: 0;
            left: 0;
            min-width: 100%;
            height: 25rem;
        }

    .carousel {
        margin-bottom: 2rem;
    }





    .fixedBtn {
        position: fixed;
        bottom: 0;
        width: 100%;
        z-index: 101;
        background-color: rgba(0,0,0,0.7);
    }

        .fixedBtn .buttonlink li {
            float: left !important;
            width: 50%;
        }

            .fixedBtn .buttonlink li.abox {
                width: 80%;
                text-align: center;
                background-color: rgba(211,31,33,0.7);
                padding-top: 5px;
            }

            .fixedBtn .buttonlink li.bbox {
                width: 20%;
                text-align: center;
                background-color: rgba(247,209,0,0.9);
                padding: 14px 0
            }

            .fixedBtn .buttonlink li a {
                width: 100%;
                height: 60px;
            }


    .bu_red2 {
        position: relative;
        color: #fff;
        font-size: 1.2rem;
        font-weight: 600;
        display: inline-block;
        padding: 14px 0;
        text-align: center;
    }

        .bu_red2:hover {
            color: #fff;
        }




    .carousel-caption h1 {
        font-size: 1.429rem;
        line-height: 30px;
    }


    .mobilebtn {
        width: 100%;
        padding: 10px
    }

    .bannerbuttom {
        margin-bottom: 10px;
    }

    .service-grid {
        margin-bottom: 30px;
    }

    #mainestimate {
        left: 2%;
        width: 340px;
    }

    .linkbtn {
        font-size: 0.875rem;
        font-weight: 600;
        line-height: 1.5;
        display: inline-block;
        padding: .325rem 1rem;
        text-align: center;
        vertical-align: middle;
        color: #fff;
        border-radius: 5rem;
        background-color: #0a72e7;
    }



    #floatdiv {
        display: none;
    }

    /*빠른오더*/


    #mofloatdiv {
        position: fixed;
        display: inline-block;
        right: 0px; /* 창에서 오른쪽 길이 */
        top: 120px; /* 창에서 위에서 부터의 높이 */
        background-color: transparent;
        margin: 0;
        z-index: 999;
    }

        #mofloatdiv .serviceform {
            width: 100px;
        }

            #mofloatdiv .serviceform ul li {
                padding: 0px;
                text-align: center;
                color: #fff;
                font-weight: 400;
                font-size: 0.8571rem;
            }

                #mofloatdiv .serviceform ul li.form01 img {
                    width: 80%
                }

                #mofloatdiv .serviceform ul li.form01 {
                    background: #4626d6;
                }

                #mofloatdiv .serviceform ul li.form02 {
                    background: #fff313;
                }

                #mofloatdiv .serviceform ul li.form03 {
                    background: #00c73c;
                }




    .companyimg {
        display: none;
    }

    .con_breadcrumb {
        display: none;
    }

    h2, .h2 {
        font-size: 1.75rem;
    }

    h3, .h3 {
        font-size: 1.5rem;
    }

    h4, .h4 {
        font-size: 1.25rem;
    }

    h5, .h5 {
        font-size: 1rem;
    }

    h6, .h6 {
        font-size: 0.875rem;
    }

    .mtxt .tit02 {
        font-size: 1.5rem;
        font-weight: 600;
        line-height: 1.5;
        letter-spacing: -0.05em;
    }


    .footerlink .info {
        padding-left: 0px;
        display: inline-block;
    }

    table th.disnone {
        display: none;
    }

    table td.disnone {
        display: none;
    }

    /*게시판*/


    .con_search ul li {
        width: 100%;
        margin: 0 5px 3px 0;
        padding: 2px 0
    }

        .con_search ul li select {
            letter-spacing: -0.03em;
            width: 100%;
        }



    .con_search .btn-search {
        width: 100%
    }

    .next_prev_box dl dt {
        display: none;
    }

    ul.paging {
        display: none;
    }

    .mepaging {
        width: 100%;
        display: inline-block;
        border: 1px solid #ddd;
        padding: 10px;
        text-align: center;
        font-weight: 600;
        margin: 20px 0;
    }

    .col-sm {
        padding-right: 20px
    }







    .etcservi .col-md-3 {
        margin-bottom: 20px
    }


    .con_footer .link a {
        margin-right: 20px;
        font-size: 90%
    }

    .con_footer .link ul li {
        background: #cbcbcb;
        color: #000;
        text-align: center;
        border-bottom: 1px solid #ddd;
        padding: 2px 0;
        width: 100%
    }

    .con_footer .copyright {
        font-size: 80%
    }

    .banner .col-md-6 img {
        margin-bottom: 10px
    }
}



.zoom11 {
    transition: transform .2s;
    margin: 0 auto;
}

    .zoom11:hover {
        -ms-transform: scale(1.04); /* IE 9 */
        -webkit-transform: scale(1.04); /* Safari 3-8 */
        transform: scale(1.04);
    }
