/* 기본 */
html,body {
	height:100%;
	margin:0; 
	padding:0;
	/*background-image: url(../img/ready/bg.jpg);background-repeat:repeat-x;back-attachmenu:fixed; background-position:top;*/
}
body, div, td, select{
font-size:13px;color:#000000; font-family:'Malgun Gothic', '맑은고딕','돋움','굴림',Arial,Helvetica,Verdana,sans-serif;letter-spacing:-0.25px; line-height:160%
}

table{border-collapse:collapse;border-spacing:0px;border:0px;}
img{border:0 none}
b{letter-spacing:-1px}

.png24 { 
    tmp:expression(setPng24(this)); 
} 

/* 지정 텍스트 */

.currentpage1 {font-size:11px;font-family:돋움;color:#9b9686;}
.currentpage2 {font-size:11px;font-family:돋움;color:#494949;font-weight:bold;}



.home02 {font-size:11px;font-family:돋움;letter-spacing:-1px;color:585858;}
.home03 {font-size:11px;font-family:돋움;letter-spacing:-1px;color:494949;font-weight:bold;}
.page01 {font-size:12px;font-family:돋움;letter-spacing:-1px;color:f56000;font-weight:bold;}    
.portfolio_tit {font-size:11px;font-family:돋움,굴림;letter-spacing:-1px;color:829265;font-weight:bold;text-align:center;} 
.portfolio_cont {font-size:11px;font-family:돋움,굴림;letter-spacing:-1px;color:7f8863;font-weight:none;text-align:center;}

/* a */
a{color:#5e4739;text-decoration:none;}
a:hover{color:#5e4739;}
a,area { blr:expression(this.onFocus=this.blur()) }
:focus { -moz-outline-style: none; }

/*롤오버이미지*/
    a.rollover img { border-width:0px; display:inline; }
    a.rollover img.over { display:none; }
    a.rollover:hover { border:0px }
    a.rollover:hover img { display:none; }
    a.rollover:hover img.over { display:inline; }



/*텍스트css*/

.hang01 {font-size:12px;font-family:돋움,굴림;color:#736953;font-weight:bold;}
.hang02 {font-size:12px;font-family:돋움;color:#8f8979;font-weight:bold;}

.f11px {font-size:11px;font-family:돋움;color:#999999;}
.f11px2 {font-size:11px;font-family:돋움;color:#555555;font-weight:bold;}

.ex01 {font-size:12px;font-family:돋움,굴림;color:#FFFFFF;}
.ex02 {font-size:12px;font-family:돋움,굴림;color:#FFFFFF;font-weight:bold;}



.board01 {font-size:12px;font-family:돋움;color:#777777;font-weight:bold;padding-top:7px;}
.board02 {font-size:11px;font-family:돋움;color:#777777;padding-bottom:8px;}



/*메인bg_css*/

.mainbg {
	background-image: url(../img/main/main_bg.jpg);
	background-repeat: no-repeat;
	background-position: center top;




/*추가 텍스트css*/
.pop01 {font-size:11px;font-family:돋움,굴림;color:#787878;}
.pop02 {font-size:11px;font-family:돋움,굴림;color:#562d0f;font-weight:bold}
.pop03 {font-size:11px;font-family:돋움,굴림;color:#70411b;}
.pop04 {font-size:11px;font-family:돋움,굴림;color:#786a49;font-weight:bold}
.pop05 {font-size:11px;font-family:돋움,굴림;color:#5f5844;}
.pop06 {font-size:11px;font-family:돋움,굴림;color:#48688f;}
.voice01 {font-size:11px;font-family:돋움,굴림;color:#583f2e;font-weight:bold}
.notice01 {font-size:11px;font-family:돋움,굴림;color:#5e4739;}
.notice0102 {font-size:12px;font-family:돋움,굴림;color:#5e4739;}
.notice02 {font-size:12px;font-family:돋움,굴림;color:#593f2f;font-weight:bold;}
.store01 {font-size:12px;font-family:돋움,굴림;color:#593f2f;font-weight:bold;}
.notice03 {font-size:12px;font-family:돋움,굴림;color:#5e4739;}
.medie01 {font-size:11px;font-family:돋움,굴림;color:#303930;}
.event01 {font-size:11px;font-family:돋움,굴림;color:#6b675c;}
.page_num01 {font-size:11px;font-family:돋움,굴림;color:#8b8160;}
.page_num02 {font-size:11px;font-family:돋움,굴림;color:#5a4d24;font-weight:bold}
.id01 {font-size:11px;font-family:돋움,굴림;color:#938c78;}
.id02 {font-size:11px;font-family:돋움,굴림;color:#766b56;}
.id03 {font-size:11px;font-family:돋움,굴림;color:#50321a;font-weight:bold}
.id04 {font-size:11px;font-family:돋움,굴림;color:#7a322e;font-weight:bold}
.join01 {font-size:11px;font-family:돋움,굴림;color:#8a7567;}
.join02 {font-size:12px;font-family:돋움,굴림;color:#583f2e;}
.c_01 {font-size:12px;font-family:돋움,굴림;color:#ffffff;font-weight:bold}
.c_02 {font-size:11px;font-family:돋움,굴림;color:#3e291b;}
.c_03 {font-size:12px;font-family:돋움,굴림;color:#583f2e;font-weight:bold}
.c_04 {font-size:12px;font-family:돋움,굴림;color:#8a6e56;font-weight:bold}
.eng_01 {font-size:12px;font-family:돋움,굴림;color:#473321;}


body 
{	
    scrollbar-face-color:#f2f2ea; 	
    scrollbar-shadow-color:#c7c5a2; 	
    scrollbar-highlight-color:#FFFFFF; 	
    scrollbar-3dlight-color:#f2f2ea; 	
    scrollbar-darkshadow-color:#f2f2ea; 	
    scrollbar-track-color:#fbfbf9; 
    scrollbar-arrow-color:#563721;
}


/* input */
.input {
	font-size:12px;color:#6e5f55; font-family:Verdana, 돋움, 굴림, Arial, Helvetica, sans-serif;letter-spacing:-0.25px; 
	border: solid 1px #bbb7a5; background:#f7f3e5
	margin:0;
	padding:3px 0 1px 3px;
}

.searchinput {
	font-size:12px;color:#FFFFFF; font-weight:bold; font-family:Verdana, 돋움, 굴림, Arial, Helvetica, sans-serif;letter-spacing:-0.25px; 
	border: solid 3px #9e8c79; background:#9e8c79
	margin:0;
	padding:1px; 0 0 3px;
}

.pop_input {
	font-size:12px;color:#6e5f55; font-family:Verdana, 돋움, 굴림, Arial, Helvetica, sans-serif;letter-spacing:-0.25px; 
	border: solid 1px #bbb7a5; background:#f7f3e5
	margin:0;
}

.select {
	font-size:12px;color:#6e5f55;height:21px;
}

TEXTAREA {
	BORDER-RIGHT: #bbb7a5 1px solid; BORDER-TOP: #bbb7a5 1px solid; SCROLLBAR-FACE-COLOR: #eaeaea; FONT-SIZE: 12px; SCROLLBAR-HIGHLIGHT-COLOR: #f3f3f3; BORDER-LEFT: #bbb7a5 1px solid; SCROLLBAR-SHADOW-COLOR: #d4d0c8; COLOR: #6e5f55; SCROLLBAR-3DLIGHT-COLOR: #ffffff; SCROLLBAR-ARROW-COLOR: #eaeaea; BORDER-BOTTOM: #bbb7a5 1px solid; FONT-FAMILY: "돋움"; SCROLLBAR-DARKSHADOW-COLOR: #606060; SCROLLBAR-BASE-COLOR: #eaeaea; BACKGROUND-COLOR: #f7f3e5; padding:7px 3px 7px 5px;}

.search_input {
	font-size:11px;color:#947c5b; font-family:돋움;
	width:117px; height:20px;
	border: solid 1px #FFFFFF;
	margin:0;
	padding:4px 0 0px 0px;
}


/* 메인bg */



.mbg1 {
	background-image: url(../images/main_bg03.jpg);
	background-repeat: no-repeat;
	background-position: center top;
}

.mbg2 {
	background-image: url(../images/main_bg02.jpg);
	background-repeat: no-repeat;
	background-position: center top;
}

.mbg3 {
	background-image: url(../images/main_bg01.jpg);
	background-repeat: no-repeat;
	background-position: center top;
}


/* 서브bg */

.cbg {
	background-image: url(../images/cont_bg.jpg);
	background-repeat: repeat-x;
	background-position: center top;
}
.clbg {
	background-image: url(../images/cont_lbg.jpg);
	background-repeat: no-repeat;
	background-position: right top;
}
.clbbg {
	background-image: url(../images/cont_lbbg.jpg);
	background-repeat: no-repeat;
	background-position: right bottom;
}
.crbg {
	background-image: url(../images/cont_rbg.jpg);
	background-repeat: no-repeat;
	background-position: left top;
}
.crbbg {
	background-image: url(../images/cont_rbbg.jpg);
	background-repeat: no-repeat;
	background-position: left bottom;
}
.bottombg {
	background-image: url(../images/bot_bg.jpg);
	background-repeat: no-repeat;
	background-position: center top;
}

.ctbg {
	background-image: url(../images/ct_bg.jpg);
	background-repeat: no-repeat;
	background-position: center top;
}

.ctopbg {
	background-image: url(../images/ctopbg.jpg);
	background-repeat: no-repeat;
	background-position: center bottom;
}
.sbg {
	background-image: url(../img/sub_bg01.jpg);
	background-repeat: repeat-y;
	background-position: center;

}
.ltbg {
	background-image: url(../img/bg_lt.jpg);
	background-repeat: no-repeat;
	background-position: right top;
}
.rtbg {
	background-image: url(../img/bg_rt.jpg);
	background-repeat: no-repeat;
	background-position: left top;
}
.lbbg {
	background-image: url(../img/bg_lb.jpg);
	background-repeat: no-repeat;
	background-position: right bottom;
}
.rbbg {
	background-image: url(../img/bg_rb.jpg);
	background-repeat: no-repeat;
	background-position: left bottom;
}
.contbg {
	background-image: url(../img/cont_top_bg.jpg);
	background-repeat: no-repeat;
	background-position: center top;
}
.ttbg0 {
	background-image: url(../img/top_bg0tt0.jpg);
	background-repeat: no-repeat;
	background-position: center top;
}
.menubg {
	background-image: url(../img/menu_bg.jpg);
	background-repeat: no-repeat;
	background-position: center center;
}
.bottombg00 {
	background-image: url(../img/bottom_00_bg.jpg);
	background-repeat: no-repeat;
	background-position: center center;
}
.woojo {
	background-image: url(../img/woo_jo.jpg);
	background-repeat: no-repeat;
	background-position: left bottom;
}


/* Admin */

.abgtop {
	background-image: url(../img/admin/bg_top000.gif);
	background-repeat: repeat-x;
	background-position: top;
	}

.text01 {font-size:11px;font-family:돋움;color:4b4633;}
.b_text01 {font-size:12px;font-family:돋움;color:3c1504;font-weight:bold;}
.b_text02 {font-size:12px;font-family:돋움;color:796d66;}

/* a */
.a_menu a{{font-size:12px;font-family:돋움;color:c7bc9e;font-weight:bold;}
.a_menu a:hover{color:#FFFFFF;}

.a_menu2 a{{font-size:12px;font-family:돋움;color:5f5331;}
.a_menu2 a:hover{color:#302d1f;font-weight:bold;}

.a_input {
	font-size:12px;color:#6e5f55; font-family:Verdana, 돋움, 굴림, Arial, Helvetica, sans-serif;letter-spacing:-0.25px; 
	border: solid 1px #bbb7a5; background:#FFFFFF; font-weight:bold;
	margin:0;
	padding:3px 0 1px 3px;
}

/* 카테고리	*/
#right_menu .ico1{background:url('../images/common/ico_main1.png') no-repeat center 8px; background-size:38px 24px}
#right_menu .ico2{background:url('../images/common/ico_main2.png') no-repeat center 0; background-size:36px 36px}
#right_menu .ico3{background:url('../images/common/ico_main3.png') no-repeat center 0; background-size:37px 37px}
#right_menu .ico4{background:url('../images/common/ico_main4.png') no-repeat center 1px; background-size:37px 37px}
#right_menu .ico5{background:url('../images/common/ico_main5.png') no-repeat center 2px; background-size:33px 30px}
#right_menu .ico6{background:url('../images/common/ico_main6.png') no-repeat center 1px; background-size:33px 35px}
#right_menu .ico7{background:url('../images/common/ico_main7.png') no-repeat center 1px; background-size:36px 35px}
#right_menu .ico8{background:url('../images/common/ico_main8.png') no-repeat center 2px; background-size:38px 33px}
#right_menu .ico9{background:url('../images/common/ico_main9.png') no-repeat center 0; background-size:24px 36px}
#right_menu .ico10{background:url('../images/common/ico_main10.png') no-repeat center 4px; background-size:36px 33px}
#right_menu .ico11{background:url('../images/common/ico_main11.png') no-repeat center 2px; background-size:25px 37px}
#right_menu .ico12{background:url('../images/common/ico_main12.png') no-repeat center 3px; background-size:37px 30px}
#right_menu .ico13{background:url('../images/common/ico_main13.png') no-repeat center 4px; background-size:37px 30px}
#right_menu .ico14{background:url('../images/common/ico_main14.png') no-repeat center 3px; background-size:37px 32px}
#right_menu .ico15{background:url('../images/common/ico_main15.png') no-repeat center 0; background-size:35px 35px}
#right_menu .ico16{background:url('../images/common/ico_main16.png') no-repeat center 2px; background-size:35px 32px}
#right_menu .ico17{background:url('../images/common/ico_main17.png') no-repeat center 0; background-size:25px 37px}
#right_menu .ico18{background:url('../images/common/ico_main18.png') no-repeat center 0; background-size:32px 37px}
#right_menu .ico19{background:url('../images/common/ico_main19.png') no-repeat center 0; background-size:30px 38px}
#right_menu .ico20{background:url('../images/common/ico_main20.png') no-repeat center 2px; background-size:38px 33px}
#right_menu .ico21{background:url('../images/common/ico_main21.png') no-repeat center 3px; background-size:38px 29px}
#right_menu .ico22{background:url('../images/common/ico_main22.png') no-repeat center 1px; background-size:20px 36px}
#right_menu .ico23{background:url('../images/common/ico_main23.png') no-repeat center 2px; background-size:38px 36px}
#right_menu .ico24{background:url('../images/common/ico_main24.png') no-repeat center 1px; background-size:37px 34px}





.admintopmenu {background:#e5e5e5; height:63px}
.admintop {position:relative; width:100%; margin:0 auto;}
.admintop .adminlogo {padding-top:10px}
.admintop .libtab{position: absolute; top:28px; right:64px}




.libtab ul.lib_tab li{float:left;padding-right:0px; margin-right:4px}
.libtab ul.lib_tab li a{border:2px solid #cccccc;border-bottom:0;background:#fff; font-size:0.9375rem; color:#000; font-weight:300;  padding:10px 15px ;line-height:28px}
.libtab ul.lib_tab li a:hover{color:#189ea3;}




.logout{padding:0;margin:0;display:block;position:absolute;right:0;top:0;width:64px;height:62px;text-indent:-9999px;background:#d6d6d6 url(/images/admin/logout_icon_on.png) no-repeat center center;border-left:1px solid #cacaca}
.logout:hover{background:#333 url(../img/layout/logout_icon.png) no-repeat center center;border-left:1px solid #222}



.logo2{font-weight:600; font-size:1.25rem; color:#000;}


.lefttitle{color:#fff; text-align:center; margin:20px 0; font-weight:600;}


.leftmenu {background-color:#32435c}
.leftmenu ul {margin:10px}
.leftmenu ul li{padding:8px; font-size:0.9375rem; font-weight:400; color:#fff; border-bottom:1px solid #40516a}
.leftmenu ul li a{color:#fff;}
.leftmenu ul li a:hover{color:#b1cbf1;}

.leftmenu2 {background-color:#58325c}
.leftmenu2 ul {margin:10px}
.leftmenu2 ul li{padding:8px; font-size:0.9375rem; font-weight:400; color:#fff; border-bottom:1px solid #603a64}
.leftmenu2 ul li a{color:#fff;}
.leftmenu2 ul li a:hover{color:#edb4f3;}


  .container {
    max-width: 100% !important;
  }


@media (max-width: 991.98px) {
  .container {
    max-width: 100% !important;
  }

}