@charset "utf-8";

.top_bar {
    background: #3c4451;
    margin: 0;
    padding: 0;
    border-bottom: 2px solid #686868;
}

    .top_bar h2 {
        display: none;
    }

.libtab { /*overflow:hidden;*/
    height: 50px;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%; /*background:#e5e5e5 url(/img/admin/h_bg.png) repeat-x left bottom;*/
    border: solid 0px red;
}

.lib_tab {
    padding: 0; /*overflow:hidden*/
    margin: 0;
    width: 70%;
}

    .lib_tab:after {
        display: block;
        visibility: hidden;
        clear: both;
        content: "";
    }

    .lib_tab > li {
        position: relative;
        float: left;
        padding: 0;
        text-align: center;
        box-sizing: border-box;
    }

        .lib_tab > li a {
            display: block;
            margin: 0;
            padding: 0 30px;
            border-right: 1px solid #686868;
            border-left: 1px solid #3b3b3b;
            color: #fff;
            height: 50px;
            line-height: 47px;
            font-size: 14px;
            font-weight: 500;
            text-align: center; /*background:#f2f2f2 url(/img/admin/bullet_tm.png) no-repeat -10% 50%*/
        }

            .lib_tab > li a:hover {
                color: #cef8ff;
                text-decoration: none; /*background:#fafafa url(/img/admin/bullet_tm.png) no-repeat 9% center*/
            }


.btn_out {
    position: absolute;
    right: 0;
    top: 0
}


/*.libtab ul.lib_tab a.sel{width:120px;height:44px;line-height:42px;text-decoration:none;color:#111;border:2px solid #cccccc;border-bottom:0;background:#fff/* url(/img/admin/bullet_tm.png) no-repeat 14% center*/ }
/*.libtab ul.lib_tab a.sel:hover{width:120px;background:#fff url(/img/admin/bullet_tm.png) no-repeat 9% center}
	.libtab ul.lib_tab a.sel strong{font-size:14px}
	.libtab ul.lib_tab a strong{display:block}

	.libtab .logout{padding:0;margin:0;display:block;position:absolute;right:0;top:0;width:64px; /*height:62px; text-indent:-9999px;background:#d6d6d6 url(/img/admin/logout_icon_on.png) no-repeat center center;border-left:1px solid #cacaca}
	/*.libtab .logout:hover{background:#333 url(../img/admin/logout_icon.gif) no-repeat center center;border-left:1px solid #222}


	.lib_tab{overflow:hidden; margin:0}
	.lib_tab li{float:left;margin-right:4px}
	.lib_tab li a{display:block;width:100px;height:28px;font-weight:normal;border:1px solid #cbcbcb;background:#fff;color:#888;text-align:center;line-height:28px}
	.lib_tab li a.sel{background:#fff;bor

	der:1px solid #cbcbcb;color:#333;font-weight:700}*/

.left_box {
    position: relative;
    margin: 0;
    padding: 0;
    height: 100%;
}

.adm_Lm {
    margin: 0;
    padding: 0;
}

    .adm_Lm dt a {
        display: block;
        font-size: 0.875rem;
        font-weight: 500;
        color: #fff;
        text-decoration: none;
        border-bottom: 1px solid #5f6269;
        border-top: 1px solid #acacb0;
        padding: 15px;
        margin: 0;
        background: #9197a3;
    }

        .adm_Lm dt a:hover {
            text-decoration: underline;
            color: #fff;
            background: #77797f;
        }

    .adm_Lm dt:first-child a {
        border-top: none;
    }

    .adm_Lm dd a {
        display: block;
        position: relative;
        margin: 0;
        padding: 10px;
        font-size: 0.875rem;
        font-weight: 400;
        color: #555;
        text-decoration: none;
        border-bottom: 1px solid #87909c;
        background: #f6f6f9;
    }

        .adm_Lm dd a:hover {
            text-decoration: underline;
            color: #234646;
        }


.admin_box {
    position: relative;
    margin: 0 auto;
    padding: 0 0 50px;
    width: 90%;
    border: 0px solid #000;
}

.admin_title {
    margin: 50px 0;
    padding: 0 0 10px;
    font-size: 1.125rem;
    color: #111;
    font-weight: 500;
    letter-spacing: -0.025em;
    border-bottom: 1px solid #d9d9d9;
    line-height: 1.625rem;
}

.adm_btn01 {
    background: #31a4dd;
    color: #fff;
    padding: 2px 10px 4px;
    border-radius: 3px;
    font-size: 0.8125rem;
}

/*A:link { color: gray; text-decoration:none; }
	A:visited { color: gray; text-decoration:none; }
	A:active { text-decoration:none; }
	A:hover { color: blue; text-decoration:underline; }

	A.b:link { color: white; text-decoration:none; }
	A.b:visited { color: white; text-decoration:none; }
	A.b:active { color:white; text-decoration:none; }
	A.b:hover { color: white; text-decoration:underline; }
	.small { font-family:돋움; font-size:8pt }
	.norm { font-family:굴림; font-size:9pt }
	.big { font-family:굴림; font-size:14pt }
	.button { height:19px; border-width:1; border-style:ridge; border-color:#d0d0d0; background-color:#dfdfdf;}
	.editbox { border:1 solid black; background-color:white; }
	.admin { border:1 solid black; background-color:white; }
	select { background-color:white;}
	p,br,body,table,td,select,input,form,textarea,option { font-family:'Malgun Gothic', '맑은고딕','굴림'; font-size:12pt; } */
