ul {
    list-style-type: none;
}

.bod_title {
    border-top: 2px solid #33464d;
    border-bottom: 1px solid #d9d9d9;
}

    .bod_title:after {
        display: block;
        visibility: hidden;
        clear: both;
        content: "";
    }

    .bod_title > li {
        position: relative;
        float: left;
        padding: 12px 0;
        font-weight: 500;
        letter-spacing: -0.025em;
        background: #f8f8f8;
        text-align: center;
        font-size: 0.875rem;
    }

        .bod_title > li:nth-child(1) {
            width: 10%;
        }

        .bod_title > li:nth-child(2) {
            width: 75%;
        }

        .bod_title > li:nth-child(3) {
            width: 15%;
        }

.bod_title2 {
    border-top: 2px solid #33464d;
    border-bottom: 1px solid #d9d9d9;
}

    .bod_title2:after {
        display: block;
        visibility: hidden;
        clear: both;
        content: "";
    }

    .bod_title2 > li {
        position: relative;
        float: left;
        padding: 12px 0;
        font-weight: 500;
        letter-spacing: -0.025em;
        background: #f8f8f8;
        text-align: center;
        font-size: 0.875rem;
    }

        .bod_title2 > li:nth-child(1) {
            width: 10%;
        }

        .bod_title2 > li:nth-child(2) {
            width: 60%;
        }

        .bod_title2 > li:nth-child(3) {
            width: 15%;
        }

        .bod_title2 > li:nth-child(4) {
            width: 15%;
        }

.bod_body:after {
    display: block;
    visibility: hidden;
    clear: both;
    content: "";
}

.bod_body > li {
    position: relative;
    padding: 20px 0;
    letter-spacing: -0.025em;
    font-size: 0.875rem;
    border-bottom: 1px solid #d9d9d9;
}

    .bod_body > li:after {
        display: block;
        visibility: hidden;
        clear: both;
        content: "";
    }

.no_part {
    width: 10%;
    box-sizing: border-box;
    border-right: 0px solid #000;
    float: left;
    text-align: center;
    line-height: 1.25rem;
}

.subject_part {
    width: 75%;
    box-sizing: border-box;
    border-right: 0px solid #000;
    float: left;
    line-height: 1.25rem;
}

.date_part {
    width: 15%;
    box-sizing: border-box;
    border-right: 0px solid #000;
    float: left;
    text-align: center;
    line-height: 1.25rem;
}

.subject_part i, .subject_part02 i {
    margin-left: 5px;
}

.bod_none {
    text-align: center;
    border-bottom: 1px solid #d9d9d9;
    letter-spacing: -0.025em;
    font-size: 0.875rem;
    color: #333;
    padding: 100px 0;
}

.no_part02 {
    width: 10%;
    box-sizing: border-box;
    border-right: 0px solid #000;
    float: left;
    text-align: center;
    line-height: 1.25rem;
}

.subject_part02 {
    width: 60%;
    box-sizing: border-box;
    border-right: 0px solid #000;
    float: left;
    line-height: 1.25rem;
}

.date_part02 {
    width: 15%;
    box-sizing: border-box;
    border-right: 0px solid #000;
    float: left;
    text-align: center;
    line-height: 1.25rem;
}

.name_part02 {
    width: 15%;
    box-sizing: border-box;
    border-right: 0px solid #000;
    float: left;
    text-align: center;
    line-height: 1.25rem;
}


.botab01 {
    display: inline-block;
    background: #fb5252;
    color: #fff;
    border-radius: 3px;
    padding: 2px 6px;
    font-size: 0.8125rem;
    font-weight: 500;
}

.botab02 {
    display: none;
}

.p5 {
    padding: 0 5px;
}

.bodst04 {
    border-top: 2px solid #33464d;
    border-bottom: 1px solid #d9d9d9;
}

    .bodst04:after {
        display: block;
        visibility: hidden;
        clear: both;
        content: "";
    }

    .bodst04 > li {
        float: left;
        width: 33.333%;
        padding: 20px 10px;
        box-sizing: border-box;
        letter-spacing: -0.025em;
        border: 0px solid #d9d9d9;
    }

.gal_img {
    min-height: 165px;
}

    .gal_img img {
        max-width: 100%;
        height: auto;
        max-height: 165px;
    }

.gal_box {
    position: relative;
    margin-top: 10px;
    padding: 0 0 20px;
    border-bottom: 1px solid #d9d9d9;
}

.rebox01 {
    position: relative;
}

    .rebox01 a {
        letter-spacing: -0.025em;
        font-size: 0.875rem;
        color: #333;
    }

.rebox02 {
    margin-top: 5px;
    letter-spacing: -0.025em;
    font-size: 0.875rem;
}

.ell {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
    border: 0px solid #000;
    width: 100%;
}

.ico-outer {
    position: absolute;
    bottom: 0;
    right: 0;
}

@media all and (max-width:767px) {
    .bod_title {
        display: none;
    }

    .bod_title2 {
        display: none;
    }

    .bod_body {
        border-top: 2px solid #33464d;
    }

        .bod_body > li {
            padding: 15px 5px;
        }

    .no_part {
        display: none;
    }

    .subject_part {
        width: 100%;
        float: unset;
    }

    .date_part {
        width: 100%;
        float: unset;
        text-align: left;
        margin-top: 5px;
    }

    .no_part02 {
        display: none;
    }

    .subject_part02 {
        width: 100%;
        float: unset;
    }

    .date_part02 {
        width: 50%;
        float: left;
        text-align: right;
        margin-top: 5px;
    }

    .name_part02 {
        width: 50%;
        float: left;
        text-align: left;
        margin-top: 5px;
    }

    .botab02 {
        display: inline-block;
        background: #fb5252;
        color: #fff;
        border-radius: 3px;
        padding: 2px 6px;
        font-size: 0.8125rem;
        font-weight: 500;
    }
}

@media all and (min-width:415px) and (max-width:767px) {
    .bodst04 > li {
        width: 50%;
    }

    .ell {
        width: 80%;
    }
}

@media all and (max-width:414px) {
    .bodst04 > li {
        width: 100%;
    }

    .gal_img {
        min-height: none;
        height: auto;
    }

        .gal_img img {
            max-width: 100%;
            min-width: 100%;
        }

    .ell {
        width: 90%;
    }
}

.search_box {
    margin-top: 20px;
    padding: 13px 0 14px;
    border: 1px solid #d9d9d9;
    border-right: none;
    border-left: none;
    background: #f8f8f8;
}

.srch {
    width: 100%;
    margin: 0;
    padding: 0;
}

    .srch legend {
        overflow: hidden;
        visibility: hidden;
        position: absolute;
        top: 0;
        left: 0;
        width: 1px;
        height: 1px;
        font-size: 0;
        line-height: 0;
    }

.srch {
    text-align: center;
}

    .srch select, .srch input {
        margin: -1px 0 0 0;
        font-size: 0.875rem;
        color: #555;
        vertical-align: middle;
    }

    .srch .keyword {
        margin-left: 1px;
        padding: 4px 3px 3px;
        border: 1px solid #b5b5b5;
        font-size: 0.875rem;
        height: 25px;
        width: 20%;
    }

.btn_box {
    margin-top: 20px;
    text-align: right;
}

.btn_pack, .btn_pack * {
    font-size: 0.875rem;
    height: 26px;
    background: url(../img/sub/btn_pack.gif) no-repeat;
    display: inline-block;
    overflow: visible;
    position: relative;
    margin: -1px 0 0 0;
    padding: 0;
    border: 0;
    color: #333;
    text-decoration: none;
    !important;
    vertical-align: top;
    white-space: nowrap;
    cursor: pointer;
    _cursor: hand;
}

    .btn_pack.small {
        background-position: left 0px;
    }

        .btn_pack.small * {
            padding: 0 20px;
            background-position: right 1px;
            font-size: 0.875rem;
            height: 26px
        }

.pagination {
    margin: 20px auto 0;
    padding: 0;
    text-align: center;
}

    .pagination ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    .pagination a {
        display: inline-block;
        padding: 0;
        color: #333;
        width: 30px;
        height: 30px;
        line-height: 27px;
        font-size: 0.8125rem;
        font-weight: 400;
        border: 1px solid #d9d9d9;
    }

    .pagination .is-active {
        background-color: #fb5252;
        color: #fff;
        border: 1px solid #fb5252;
        font-weight: 700;
        width: 30px;
    }

    .pagination a:hover.is-active {
        color: #fff;
        text-decoration: none;
    }

    .pagination a:hover {
        color: #fb5252;
        text-decoration: underline;
    }
    /*.pagination2 a:first-of-type, .pagination a:last-of-type{width:68px;color:#333}*/
    .pagination a.adr {
        width: 68px;
        color: #333
    }

    .pagination i {
        line-height: 27px;
    }

.bod_view {
    border-top: 2px solid #33464d;
    border-bottom: 1px solid #d9d9d9;
}

    .bod_view:after {
        display: block;
        visibility: hidden;
        clear: both;
        content: "";
    }

    .bod_view > li {
        position: relative;
        padding: 15px 0;
        text-align: center;
        background: #f8f8f8;
    }

.view_title {
    font-size: 1.125rem;
    line-height: 1.625rem;
    color: #111;
    font-weight: 500;
}

.view_con {
    font-size: 0.875rem;
    color: #555;
    margin-top: 5px;
}

.bo_use_date {
    padding: 0 10px;
}

#bo_v_atc {
    min-height: 200px;
    padding: 15px;
    border-bottom: 1px solid #d9d9d9;
}

#bo_v_con {
    min-height: 200px;
    margin-bottom: 20px;
    width: 100%;
    word-break: break-all;
    overflow: hidden;
    font-size: 0.875rem;
    line-height: 1.375rem;
}

    #bo_v_con img {
        max-width: 100%;
        height: auto;
    }

.fs01 {
    border: 1px solid #b5b5b5;
    font-size: 0.875rem;
    height: 25px;
    padding: 4px 3px 3px;
    font-weight: 400;
}

.fs02 {
    border: 1px solid #b5b5b5;
    font-size: 0.875rem;
    height: 32px;
}

.fs03 {
    border: 1px solid #b5b5b5;
    font-size: 0.875rem;
    height: 25px;
}

#bo_v_file {
    border-bottom: 1px solid #d9d9d9;
    background: #f9f9f9;
    padding: 15px;
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 500;
}
